@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700&subset=latin-ext");

body {
  font-family: "Inter", sans-serif;
  background: #0e0d0a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 25px;
  text-align: left;
  font-weight: 300;
  margin-left: 12px;
  letter-spacing: 1px;
}

.container {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.heart-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#message-container {
  overflow: hidden;
   overflow:scroll;
  border-radius: 5px;
  background: #ececec;
  padding: 0px 20px 0px 20px;
  box-shadow: inset 0 0 15px rgba(144, 86, 9, 9);
  max-height: 0; /* Set initial max-height to 0 */
  transition: max-height 1.5s ease, padding 0.3s ease; /* Add transition for max-height and padding */
}

.message-container-open {
  max-height: 500px; /* Set a maximum height when container is open */
  padding: 20px; /* Adjust padding when container is open */
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    position: fixed;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 375px) {
  .container {
    top: 50%;
    left: 50%;
    width: 300px;
    position: fixed;
    transform: translate(-50%, -50%);
  }
}

#message {
  width: 100%;
  text-align: center;
  font-size: large;
  text-align: center;
  font-family: "Dancing Script", cursive;
}
